---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Icon } from "astro-icon/components"
import { topic } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="overflow-hidden relative">
		<div class="absolute inset-0 -z-10 h-full w-full bg-[radial-gradient(#181d2a_1px,transparent_1px)] [background-size:1rem_1rem] z-[-1]"></div>
		<main class="w-full">
			<div class="absolute top-0 left-0 w-full">
				<Header />
			</div>
			<div class="flex items-center justify-center flex-col w-full h-[100vh] max-w-screen-md mx-auto px-6">
				<h1 class="font-bold text-4xl lg:text-6xl text-center text-white font-bold pb-6">Hello kids, <br> I'm your Grandpa!</h1>
				<ul class="flex flex-wrap items-center justify-center gap-3">
					{topic.map((item) => (
					  <li class={`${item.style} px-4 py-1 rounded-full border backdrop-blur-lg`}>{item.text}</li>
					))}
				</ul>
				<a class="px-6 py-3 mt-6 rounded-full bg-onyx-50 text-onyx-800 flex items-center justify-center gap-1" href="/blog">
					<Icon name="explore" width={24} height={24} />
					<span class="font-bold">Explore</span>
				</a>
			</div>
			<div class="absolute bottom-0 left-0 w-full">
				<Footer />
			</div>
		</main>
	<script>
		import "../scripts/typing.js";
	</script>
	</body>
</html>