---
const today = new Date();
import { Icon } from "astro-icon/components"
import { sociallink } from "../consts.ts"
---

<footer class="px-6 py-12">
	<div class="flex max-md:flex-col items-center justify-center lg:justify-between max-w-screen-xl w-full mx-auto">
		<div class="text-sm">&copy; {today.getFullYear()} GreenFrog. All rights reserved.</div>
	<div class="flex items-center justify-center gap-3 my-3">
		{sociallink.map((link) =>(
			<a href={link.href}>
				<Icon name={link.icon} width={32} height={32} title={link.text} />
			</a>
		))}
	</div>
	</div>
</footer>
