---
---
<div
  class="prose prose-lg m-0
  prose-p:text-onyx-100 
  prose-span:text-onyx-100 
  prose-h1:font-bold prose-h1:text-xl prose-h1:text-onyx-50 
  prose-h2:text-onyx-50 prose-h2:font-bold prose-h2:text-2xl 
  prose-h3:text-onyx-50 prose-h3:font-bold prose-h3:text-1xl 
  prose-h4:text-xl prose-h4:font-bold prose-h4:text-onyx-50
  prose-h5:text-lg prose-h5:font-bold prose-h5:text-onyx-50
  prose-li:text-onyx-100
  prose-blockquote:text-teal-400
  prose-strong:text-onyx-50
  prose-a:text-lime-400 
  prose-img:rounded-xl 
  prose-img:w-full
  prose-headings:text-2xl"
  >
  <slot />
</div>