---
interface Props{
    titleHeading: string;
    desc: string;
}
const {titleHeading, desc} = Astro.props
---
<section class="p-12 border-b-[1px] border-onyx-600 relative h-[200px] lg:h-[250px] w-full bg-onyx-950 flex items-center justify-center">
    <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div>
    <div>
        <h1 class="text-center font-bold text-4xl lg:text-6xl">{titleHeading}</h1>
    <p class="text-center text-xl text-onyx-300">{desc}</p>
    </div>
    
</section>