---
import Checkbox from "./Checkbox.astro"

const categories = [
    { label: "googleads", input: "googleads", name: "Google Ads" },
    { label: "seo", input: "seo", name: "SEO" },
    { label: "socialmedia", input: "socialmedia", name: "Social Media" },
    { label: "marketing", input: "marketing", name: "Marketing" },
]
---
<div class="grid">
    <div class="grid gap-3 mt-5">
        {categories.map((items) =>{
            <Checkbox labelFor={items.label} inputID={items.input} categoryName={items.name} />
        })}
    </div>
    <div class="flex items-center gap-3 mt-5">
        <input type="submit" value="Submit" class="bg-onyx-500 w-max py-3 px-6 rounded-lg border border-onyx-400/20 cursor-pointer hoverS">
        <input type="reset" value="reset" class="underline cursor-pointer">
    </div>
</div>