---
import Search from "astro-pagefind/components/Search";
export const prerender = true;

const q = Astro.url.searchParams.get("q") ?? undefined;
---

<nav class="px-6 border-b-[1px] border-dashed border-onyx-600 pb-6">
    <Search query={q} id="search" className="pagefind-ui dark" uiOptions={{ showImages: false }} />
</nav>

<style is:global>

  
	.pagefind-ui {
	  --pagefind-ui-scale: 0.75;
	  --pagefind-ui-primary: #a3e635;
	  --pagefind-ui-text: white;
	  --pagefind-ui-border: #181D2A;
	  --pagefind-ui-border-width: 1px;
	  --pagefind-ui-border-radius: 0.25rem;
  
	  width: 100%;
	}
  
	.pagefind-ui.dark {
	  --pagefind-ui-background: #0E111B;
	}
  </style>